.layout-container{
    .body-container{
        display: flex;
        .sidebar-container-layout{
            width: 20%;
        }
        .children-container{
            // flex: 1;
            overflow-y: auto;
            width: 80%;
        }
    }
}