.sidebar-container{
    border-right: 1px solid #000;
    width: 22%;


    .sidebar-container-items{
        display: flex;
        flex-direction: column; 
        row-gap: 25px; 
        padding: 0px 16px;
        padding-bottom: 40px;
        border-bottom: 1px solid #96A0B7;

        .sidebar-item{
            display: flex;
            align-items: center; 
            padding: 10px 15px; 
            cursor: pointer;
            border-radius: 6px;
            justify-content: space-between;
            .title-icon{
                display: flex;
                align-items: center;
                column-gap: 20px;
                
                .sidebar-icon{
                    font-size: 20px;
                    color: #818DA9;
                }
                .sidebar-title{
                    font-size: 16px;
                    color: #818DA9;
                    font-family: 'Gilroy';
                    font-weight: 400;
                }
            }
            .sub-icon{
                margin-top: 0.5rem;
                font-size: 20px;
                color: #818DA9;
              
            }
            &:hover{
                background-color: #CDE1E3;
               .title-icon{
                     .sidebar-title{
                          color: #2D416F;
                     }
               }
               .sub-icon{
                color: #2D416F;
                
                }
            }
        }
        .element-class{
            background-color: #4BAA79;
            display: flex;
            align-items: center; 
            padding: 10px 15px; 
            cursor: pointer;
            border-radius: 6px;
            justify-content: space-between;
            .title-icon{
                display: flex;
                align-items: center;
                column-gap: 20px;
                
                .sidebar-icon{
                    font-size: 20px;
                }
                .sidebar-title{
                    font-size: 16px;
                    color: #FFF;
                    font-family: 'Gilroy';
                    font-weight: 400;
                }
            }
            .sub-icon{
                margin-top: 0.5rem;
                font-size: 20px;
                color: #FFF;
            }
        }
    }
    .sub-item-container{
       display: flex;
       flex-direction: column;
       row-gap: 3px;
       margin-top: 10px;
        .sub-item-title{
            padding: 10px 15px;
            background: #F3FFF1; 
            font-size: 14px;
            color: #2D416F;
        }
    }
}